<div class="auth-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-9 offset-md-6 col-xs-12">
          <h1 class="text-xs-center">Sign up</h1>
          <p class="text-xs-center">
            <a routerLink="/login">Have an account?</a>
          </p>
  
          <app-error-message [errors]="errors()"></app-error-message>
  
          @if (successDisplayed()) {
            <ul class="success-messages">
              <li>Registration successful. Redirecting to login page...</li>
            </ul>
          }
  
          <form [formGroup]="mainForm">

            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" formControlName="email" class="form-control" type="email" placeholder="Enter your email" />
                <app-error-message [form]="mainForm.controls.email"></app-error-message>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" formControlName="password" class="form-control" type="password" placeholder="Enter your password" />
                <app-error-message [form]="mainForm.controls.password"></app-error-message>
            </div>

            <div class="form-group">
                <label for="phone">Phone Number</label>
                <input id="phone" formControlName="phone" class="form-control" type="tel" placeholder="Enter your phone number" pattern="[0-9]{10}" />
                <app-error-message [form]="mainForm.controls.phone"></app-error-message>
            </div>

            <button type="button" (click) = "registerUser()" [disabled]="!mainForm.valid" class="btn btn-lg btn-primary">Sign Up</button>
        </form>
        </div>
      </div>
    </div>
  </div>